.Rhistory
.Rprofile
*.csv
*.sav
*.sas7bdat
*.xlsx
*.xls
*.pdf
*.fff
*.log
*.tex
.Rproj.user
df.csv
df_anal.csv
!synthetic_df_anal.csv
!codebook_df_anal.csv
dad_request.*
results/full_forest.RData
*.RData
!sim_mat.RData
*.docx
!supplemental_table_1.csv
!desc_num.csv
!desc_cat.csv
*.inp
*.out
*.dat
!supplemental_table_2.csv
!supplemental_table_*.csv