.Rhistory
.Rprofile
*.csv
*.sav
*.sas7bdat
*.xlsx
*.xls
*.pdf
*.fff
*.log
*.tex
.Rproj.user
df.csv
df_anal.csv
!synthetic_df_anal.csv
!codebook_df_anal.csv
dad_request.*
results/full_forest.RData
*.RData
